!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
/node_modules
/app/assets/javascripts/frontend.js
/app/assets/javascripts/*.svg
/app/assets/javascripts/*.woff
/app/assets/javascripts/*.eot
/app/assets/javascripts/*.ttf
