.welcome
  .points-row
    .points-wrap
      .points-motto
        %p Point users to the things that really matter
        %p Points allows you to place markers on your video and lets users interact with them.
        .landing-button= link_to "Try it now", users_path, method: :post

      .points-video-container
        #PointsAppContainer

.benefits
  .container
    .row
      .col-md-3.benefit
        .icon-doc
        %h4 Advertisement
        %p Draw the attention of your customers to the goods
      .col-md-3.benefit
        .icon-graduation-cap
        %h4 Education
        %p Add links to additional materials for in-depth study
      .col-md-3.benefit
        .icon-photo
        %h4 Presentations
        %p Give your potential customers more information about the product
      .col-md-3.benefit
        .icon-lightbulb
        %h4 Any ideas?
        %p We see much more possible uses for this service. Don't hesitate to Contact Us if you want to discuss any!


.video-list
  .container
    .row
      %h1 Points created by our users
    .row
      - 3.times do
        .col-md-4
          .video-item
            %img{src: "http://lorempixel.com/300/200", width: "100%"}
            %h4 Creative video about cuucumbers
