/* main */
.b_points-wrap {
  position: relative;
  z-index: 0;
  float: left;
}

.b_marker-info-wrap {
  padding-left: 20px;
  position: absolute;
  z-index: 30;
  left: 0;
  top: 0;
}

.b_marker-info-wrap-expand {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.b_marker-info-wrap-expand .popover {
  width: 100%;
  height: 100%;
}
.b_player-wrap {
  position: relative;
  z-index: 10;
  float: left;
}

.b_markers-list-wrap {
  float: left;
  width: 150px;
  height: 391px;
  background: url('../images/markers-list-background-white.png') 0 0 no-repeat;
}

.b_markers-list {
  width: 80px;
  height: 100%;
  overflow: auto;
}

.b_marker {
  border: 2px solid #a9a9a9;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto 12px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('http://lorempixel.com/32/32');
}
.b_marker:first-child {
  margin-top: 12px;
}
.b_marker__type-inactive {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
}
.b_marker__type-active {
  border: 3px solid #5189a0;
}

.b_marker__type-hover {
  opacity: 1;
  border: 3px solid #ff0000;
  -webkit-filter: grayscale(0%);
}

.b_marker-point {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.b_marker-point-circle {
  position: absolute;
  border: 2px solid #6cc5e8;
  border-radius: 50%;
  opacity: 1;
  width: 6px;
  height: 6px;
  left: 12px;
  top: 12px;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
}
.b_marker-point-circle-small {
  -webkit-animation-delay: 0;
}
.b_marker-point-circle-normal {
  -webkit-animation-delay: 0.4s;
}
.b_marker-point-circle-big {
  -webkit-animation-delay: 0.8s;
}

.point-animation-leave {
  opacity: 1;
  -webkit-transition: opacity 1.2s ease-in;
}

.point-animation-leave.point-animation-leave-active {
  opacity: 0;
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 12px;
  }
  25% {
    opacity: 0.75;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  50% {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
  75% {
    opacity: 0.25;
    left: -5px;
    top: -5px;
    width: 40px;
    height: 40px;
  }
  100% {
    opacity: 0;
  }
}

.markup-layer {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  -webkit-user-select: none;
}
