/* main */
.b_points-wrap {
  position: relative;
  z-index: 0;
  float: left;
}

.b_marker-info-wrap {
  padding-left: 20px;
  position: absolute;
  z-index: 30;
  left: 0;
  top: 0;
}

.b_marker-info-wrap-expand {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.b_marker-info-wrap-expand .popover {
  width: 100%;
  height: 100%;
}
.b_player-wrap {
  position: relative;
  z-index: 10;
  float: left;
}

.b_markers-list-wrap {
  float: left;
  width: 150px;
  height: 391px;
  background: url('../images/markers-list-background-white.png') 0 0 no-repeat;
}

.b_marker-scroll-disable {
  width: 110px;
  height: 391px;
  overflow: hidden;
}

.b_markers-list {
  width: 150px;
  height: 100%;
  overflow: auto;
  padding-top: 185px;
  padding-bottom: 185px;
}

.b_marker:hover {
  width: 64px;
}

.b_marker {
  border: 2px solid #a9a9a9;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  margin: 0 0 12px 23px;
  box-sizing: border-box;
  cursor: pointer;
  /*background-repeat: no-repeat;*/
  /*background-position: 0 0;*/
  /*background-image: url('http://lorempixel.com/32/32');*/
  transition: width 300ms ease-out;
  background-color: white;
  overflow: hidden;
}

.b_marker-image {
  margin: 0px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  display: inline-block;
  margin-right: 8px;
}

.b_marker-icon {
  opacity: 0;
  transition: opacity 300ms ease-out;
  font-size: 18px;
}

.b_marker:hover .b_marker-icon {
  opacity: 1;
}

/*.b_marker:first-child {*/
  /*margin-top: 12px;*/
/*}*/
.b_marker__type-inactive {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
}
.b_marker__type-active {
  border: 3px solid #5189a0;
}

.b_marker__type-hover {
  opacity: 1;
  border: 3px solid #ff0000;
  -webkit-filter: grayscale(0%);
}

.b_marker-point {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  position: absolute;
}

.b_marker-point-circle {
  position: absolute;
  border: 2px solid #6cc5e8;
  border-radius: 50%;
  opacity: 1;
  width: 8px;
  height: 8px;
  left: 11px;
  top: 11px;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
}

.point-animation-leave {
  opacity: 0.99;
  -webkit-transition: opacity 0.6s linear;
}

.point-animation-leave.point-animation-leave-active {
  opacity: 1;
}

.point-animation-enter {
  opacity: 1;
  -webkit-transition: opacity 0.6s linear;
}

.point-animation-enter.point-animation-enter-active {
  opacity: 0.99;
}


.b_marker-point-circle-small {
  opacity: 0.5;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
}
.b_marker-point-circle-normal {
  opacity: 0.75;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
}

.point-animation-enter .b_marker-point-circle {
  -webkit-animation-duration: 1.2s;
}

.point-animation-leave .b_marker-point-circle {
  -webkit-animation-duration: 0.6s;
}

.point-animation-enter .b_marker-point-circle-small {
  opacity: 1;
  width: 8px;
  height: 8px;
  left: 11px;
  top: 11px;
  -webkit-animation-name: enter-circle-small;
}
.point-animation-enter .b_marker-point-circle-normal {
  opacity: 1;
  width: 8px;
  height: 8px;
  left: 11px;
  top: 11px;
  -webkit-animation-name: enter-circle-normal;
}

.point-animation-leave .b_marker-point-circle-small {
  -webkit-animation-name: leave-circle-small;
}
.point-animation-leave .b_marker-point-circle-normal {
  -webkit-animation-name: leave-circle-normal;
}
.point-animation-leave .b_marker-point-circle-big {
  -webkit-animation-name: leave-circle-big;
}

@-webkit-keyframes leave-circle-small {
  0% {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
  50% {
    left: -5px;
    top: -5px;
    width: 40px;
    height: 40px;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes leave-circle-normal {
  0% {
    opacity: 0.75;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  50% {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
  100% {
    left: -5px;
    top: -5px;
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@-webkit-keyframes leave-circle-big {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 12px;
  }
  50% {
    opacity: 0.75;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  100% {
    opacity: 0;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes enter-circle-small {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 12px;
  }
  25% {
    opacity: 0.75;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
  50%, 100% {
    opacity: 0.5;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }
}

@-webkit-keyframes enter-circle-normal {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
    left: 12px;
    top: 12px;
  }
  50%, 100% {
    opacity: 0.75;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
  }
}

.markup-layer {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  -webkit-user-select: none;
}
