/* main */
.b_points-wrap {
  position: relative;
  z-index: 0;
  float: left;
}

.b_player-wrap {
  position: relative;
  z-index: 10;
  float: left;
}

.b_markers-list-wrap {
  float: left;
  width: 150px;
  height: 391px;
  background: url('../images/markers-list-background-white.png') 0 0 no-repeat;
}

.b_markers-list {
  width: 80px;
  height: 100%;
  overflow: auto;
}

.b_marker {
  border: 2px solid #a9a9a9;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 auto 12px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('http://lorempixel.com/32/32');
}
.b_marker:first-child {
  margin-top: 12px;
}
.b_marker__type-active {
  border: 3px solid #5189a0;
}
.b_marker__type-inactive {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
}



.markup-layer {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(0,255,0, 0.5);
  -webkit-user-select: none;
}

.marker-point {
  position: absolute;
  background-color: red;
  z-index: 30;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
