.container
  .row
    .col-md-12
      %h1 Hello everyone!

      %p We are developing a platform that can turn any video player on your site into interactive demonstration, an effective advertising platform or intelligible educational tool.

      %blockquote
        %p It is very simple to use.

      %p The first step is to mark up your video. At any moment, you can attach marker to some thing on the screen and add a description or a link.

      %p The second step is to show video with the markers on it to your users - via our site or  embedded version (coming soon). When user will be watching the video, he or she will see all the markers you’ve added.

      %p Each such marker can be opened by clicking on it. This will result in a pop-up window with some additional info, or following an external link. This is a new and exciting experience for anybody!

      %p Users can view them all, not only when they're appearing, and easily switch between these markers.

      %p If you have an educational platform, Points can be used to add links to additional materials for in-depth study, or help students to navigate through the lecture.

      %p If you have a video with your new brand product, you can use Points to emphasize the key features and give a little more information about them.

      %p It can be actively used in advertising. Marker can be displayed barely noticeable and intriguing, subtly hinting at something interesting or aggressively encouraging people to take action. For example, add it to the Amazon’s wishlist and later buy it.

      %p We see much more possible uses for this service. Don't hesitate to Contact Us if you want to discuss any!

      %br
      %br
