.container
  .row
    .col-md-12
      %h1 Points Support
      %h4 We love our users. Please contact us anytime with feedback, questions or concerns
      %br
      = mail_to "app30763781@heroku.com", "Write to us", class: "btn btn-primary btn-lg active btn-block"
