.container
  .row
    .col-md-12
      %h1.text-center Points Support
      %h4.text-center We love our users. Please contact us anytime with feedback, questions or concerns
  .row
    .col-md-4

    .col-md-4
      = mail_to "app30763781@heroku.com", "Write to us", class: "btn btn-primary btn-lg active btn-block"

    .col-md-4
