.container
  .row
    .col-md-12
      %h1.text-center Meet the team
  .row{style: "margin-top:15px;margin-bottom:15px"}
    .col-md-6
      .row
        .col-md-6
          %img{src:"https://avatars2.githubusercontent.com/u/975907?v=2&s=460", class: 'img-thumbnail', width: 290}
        .col-md-6
          %h3
            %a{href: "https://github.com/NOX73", target: "_blank"} Alexander Rozhnov
          %h5 Skills: Ruby, Go, Javascript
          %h5 Level: god

    .col-md-6
      .row
        .col-md-6
          %img{src:"https://avatars2.githubusercontent.com/u/971061?v=2&s=460", class: 'img-thumbnail', width: 290}
        .col-md-6
          %h3
            %a{href: "https://github.com/vdv73rus", target: "_blank"} Dmitry Vislov
          %h5 Skills: Frontend
          %h5 Level: demiurge

  .row{style: "margin-top:15px;margin-bottom:15px"}
    .col-md-6
      .row
        .col-md-6
          %img{src:"https://avatars1.githubusercontent.com/u/1282182?v=2&s=460", class: 'img-thumbnail', width: 290}
        .col-md-6
          %h3
            %a{href: "https://github.com/akalyaev/", target: "_blank"} Anton Kalyaev
          %h5 Skills: Ruby
          %h5 Level: tzar

    .col-md-6
      .row
        .col-md-6
          %img{src:"https://avatars2.githubusercontent.com/u/672631?v=2&s=460", class: 'img-thumbnail', width: 290}
        .col-md-6
          %h3
            %a{href: "https://github.com/Andrew8xx8", target: "_blank"} Andrew Kulakov
          %h5 Skills: Team leadership, Ruby, Javascript, Design
          %h5 Level: father
