+sticky-footer(375px, "footer")

.vote-for-us
  background: #364052
  color: #fff
  text-align: center
  text-transform: uppercase
  font-size: 8vmin
  padding: 2vmin 0px

.footer-content
  position: relative

.footer-logo-link
  display: block
  position: absolute
  left: 120px
  top: 60px
