body
  font-family: 'Helvetica Neue'

.points-row
  width: 960px
  margin: 0 auto

// Landing page
.benefit
  text-align: center
  margin-bottom: 40px
.benefits
  [class^="icon-"]:before
    font-size: 72px
    margin-bottom: 16px
    color: #6dc8eb
