.welcome
  position: relative
  overflow: hidden
  height: 663px
  background: asset-url('site-background.jpg') center top no-repeat

@media (min-width: 1921px)
  .welcome
    height: 1080px
@media (min-width: 1920px)
  .welcome
    height: 852px
@media (max-width: 1720px)
  .welcome
    height: 764px
@media (max-width: 1520px)
  .welcome
    height: 675px
@media (max-width: 1500px)
  .welcome
    height: 663px

.points-opacity
  background: rgba(0,0,0,0.5)
  margin-top: 112px
  padding-top: 28px
.points-wrap
  position: relative
  overflow: hidden
  height: 415px

.points-motto
  float: left
  width: 240px
  padding-top: 80px
  color: #fff
  p
    padding-right: 20px
    font-size: 16px
    margin-bottom: 20px

.landing-button
  display: inline-block
  color: #6dc8eb !important
  text-decoration: none
  border: 2px solid #6dc8eb
  border-radius: 6px
  font-size: 12px
  text-transform: uppercase
  padding: 11px 20px
  margin-top: 20px
  cursor: pointer
  &:hover
    text-decoration: none

.points-video-container
  width: 800px
  height: 400px
  position: absolute
  left: 240px
  top: 0
  .b_markers-list
    background: inline("markers-list-background.png") 0 0 no-repeat #131313

.points-markers-list
  width: 80px
  overflow: auto
  height: 100%

.marker
  border: 2px solid #a9a9a9
  width: 32px
  height: 32px
  border-radius: 50%
  margin: 0 auto 12px
  box-sizing: border-box
  cursor: pointer
  &:first-child
    margin-top: 12px
  &.active
    border: 3px solid #5189a0
  &.inactive
    opacity: 0.2
