.welcome
  background-color: #364052
  margin-bottom: 100px
  position: relative

.points-wrap
  width: 720px
  padding: 0 0 24px
  margin: 0 auto
  position: relative
  z-index: 1

.points-video-container
  width: 640px
  height: 360px

.points-markers-list
  width: 390px
  height: 360px
  overflow: auto
  background: inline("markers-list-background.png") 0 0 no-repeat
  position: absolute
  left: 640px
  top: 0
  z-index: 1
