%footer
  %a.vote-for-us{href: "http://railsrumble.com/entries/52-points", target: "_blank"} Vote for us
  .points-row
    .footer-content
      = link_to root_path, class: "footer-logo-link" do
        = image_tag("logo-footer.png", size: "78x26", alt: "Points")

      .footer-nav
        %ul.footer-nav-list
          %li
            =link_to "About", page_path('about')
            %ul.footer-nav-sublist
              %li
                =link_to "About Us", page_path('about')
              %li
                =link_to "Team", page_path('team')
              %li
                =link_to "Contact", page_path('contact_us')
          %li
            =link_to "Stuff", "#"
            %ul.footer-nav-sublist
              %li
                =link_to "Privacy", "#"
              %li
                =link_to "Terms", "#"

          %li
            =link_to "Subscribe", "#"
            %ul.footer-nav-sublist.footer-nav-sublist-social
              %li
                %a.icon-facebook{href: "#", target: "_blank"}
                %a.icon-twitter-bird{href: "#", targat: "_blank"}
