:javascript
  var _swell_site_ids = _swell_site_ids || [];
  _swell_site_ids.push('dfad41ec');
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//df50assd5876f.cloudfront.net/assets/hello-3b9181727ebdc6002c5bb5da48a2257f.js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();

%noscript
  %img{src: "//heyswell.com/v1/hello.gif?sites=dfad41ec&javascript=0"}
