.container
  %h1
    = t('.title')
    = link_to videos_path, class: 'btn btn-default btn-sm' do
      %i.glyphicon.glyphicon-arrow-left
      Back
  %br
  .row
    = render 'form', url: videos_url(@video)
